@model Bidirectional.Demo.Client.Models.PingPongResult

<div>

    <dl>
        <dt>Number of requests</dt>
        <dd>@Model.NumberOfRequests</dd>

        <dt>Total time in ms</dt>
        <dd>@Model.TotalTimeImMs ms</dd>

        <dt>Request per second</dt>
        <dd>@Model.RequestsPerSecond rps</dd>

    </dl>
</div>