<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SignalR Demo Server</title>
    <link rel="stylesheet" href="~/new.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
<header>
    <h1>
        <a asp-area="" asp-controller="Home" asp-action="Home">SignalR Demo Server</a>
    </h1>
</header>
<main role="main">
    @RenderBody()
</main>

<footer>
    &copy; @DateTime.Today.Year - SignalR Demo Server - 
    <a asp-area="" asp-controller="Home" asp-action="Home">Home</a> - 
</footer>


<environment include="Development">
    <script type="text/javascript" src="~/htmx.js"></script>
</environment>
<environment exclude="Development">
    <script type="text/javascript" src="~/htmx.min.js"></script>
</environment>
@(await RenderSectionAsync("js", required: false))
</body>
</html>