
<h1>Bidirectional Demo Client</h1>

<button data-hx-get="@Url.Action("Get", "ServerProcessInfo")" 
        data-hx-trigger="click" 
        data-hx-target="#server-process-info">
    Get Server Process Info
</button>

<div id="server-process-info">
    
</div>